body {
  margin: 0 0;
}
.container {
  max-width: 1280px;
  margin: auto;
}
#top-logo {
  height: 80px;
  padding: 20px 20px 20px 0px;
}
#top-background {
  margin-top: 0 0;
  background-image: url(../img/pattern.png);
  background-size: 410px;
  background-color: rgb(95, 178, 255);
}
h1 {
  font-size: 45px;
  margin-bottom: 0;
}
#top-link {
  text-decoration: none;
  color: rgb(95, 178, 255);
}
.underh1 {
  margin: 0 0;
  font-size: 25px;
}
.date {
  margin: 0 0;
}
.p1 {
  color: rgb(114, 114, 114);
}
.tim-photo-container {
  margin: 16px 0px 0px 0px;
  width: 1280px;
  line-height: 7px;
}
.tim-photo {
  height: 440px;
  margin-bottom: 0px;
}
.img-des {
  margin-top: 0px;
  font-size: 13px;
}
.font {
  font-size: 18px;
}
.sottolineato {
  background-color: yellow;
}
.list {
  margin-left: 0px;
  padding-left: 20px;
}
.table-top {
  color: white;
  background-color: rgb(61, 178, 255);
  border: none;
  padding: 0px;
}
.first-half {
  width: 25%;
}
table {
  border-collapse: collapse;
}
.background {
  background-color: rgba(31, 208, 252, 0.425);
}
.endings {
  background-image: url(../img/monitor.jpg);
  height: 200px;
  width: 250px;
  background-position: center;
}
.ending {
  background-image: url(../img/graph.jpg);
  height: 200px;
  width: 250px;
  background-position: center;
}
.footerp {
  color: white;
  font-size: 24px;
  padding: 7px 0px 0px 7px;
}
